{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if not voted %}
	<form action="/polls/{{ poll.id }}/vote/" method="post">
	{% csrf_token %}
{% else %}
	<em>Thanks for voting!</em>
{% endif %}

<table>
	<caption>{{ poll.question }}</caption>
	<thead>
		<tr>
			<th>Question</th>
			<th>Votes</th>
		</tr>
	</thead>
	<tbody>
		{% for choice in poll.choice_set.all %}
			<tr>
				<td>
					{% if not voted %}<input type="radio" name="choice" id="choice_{{ forloop.counter }}" value="{{ choice.id }}"> <label for="choice_{{ forloop.counter }}">{{ choice.choice }}</label>
					{% else %}{{ choice.choice }}{% endif %}
				</td>
				<td>{{ choice.votes }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if not voted %}
	<input type="submit" value="vote">
{% endif %}
</form>
